.app-header {
  background-color: #33333381;
  color: #fff; 
  padding: 10px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.logo {
  font-size: 24px; 
}

nav {
  display: flex; 
}

nav a {
  color: #fff; 
  text-decoration: none; 
  margin-right: 15px; 
  font-weight: bold; 
  font-size: 16px; 
}

