  <label for="date-start"></label>Data inicial:
  <input id="date-start" type="text" [(ngModel)]="reservation.start">

  <label for="date-end"></label>Data final:
  <input id="date-end" type="text" [(ngModel)]="reservation.end">

  <label for="cliente"></label>ID do Cliente:
  <input type="number" id="cliente" [(ngModel)]="reservation.clientId">

  <label for="carro"></label>ID do carro:
  <input type="number" id="carro" [(ngModel)]="reservation.carId">

  <button type="button" (click)="insertReservation()">Reservar</button>

  <br>
  <br>
  <br>

  <div class="style-tabela">
    <table>
      <tbody>
          <tr>
              <th class="top center"><strong>Data inicial</strong></th>
              <th class="top center"><strong>Data final</strong></th>
              <th class="top center"><strong>Cliente</strong></th>
              <th class="top center"><strong>Carro</strong></th>
          </tr>
          <tr *ngFor="let reservation of reservations">
              <td>{{reservation.start}}</td>
              <td>{{reservation.end}}</td>
              <td>{{reservation.clientId}}</td>
              <td>{{reservation.carId}}</td>
              <td>
                <button type="button">Detalhar Reserva</button>
              </td>
          </tr>
      </tbody>
  </table>
  </div>